@charset "utf-8";
/* CSS Document */

 #principal {
	 position: absolute;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height:100vh
	 }
	 #pantalla {
		 float: left;
		 text-align:center;
		 width:100%;
		 height:25%;
		 background:#CCC;
		 color: #fff;
		 font-size: 4em;/*em unidad de medida que se utiliza el tamaño de impresion es decir 4 veces el tamaño de la medida y garantiza el diseño*/
		 font-weight: bold;
		 font-family: "Times New Roman", Times, serif;
	 }
	 #teclado {
		 float: left;
		 width: 100%;
		 height: 75%;
	 }
	 .nota { /*como nota es clase se declara con . */
	 position: relative;
	 float: left;
	 height: 90%;
	 outline: #3F3 solid 1px;/* linea de contorno */
	 background: #FC9;
	 width: 6.666666666666667%;
	 }
	 .textonota {
		 position:relative;
		 top: 80%;
		 text-align: center;
		 font-size: 15px;
		 font-weight: bold;
	 }
	 .tocada {
		 background:#000;
		 color: #FFF;
		 outline: #FF0 solid 1px;
	 }